section#jellyfish-list.jellyfish-list 
  h2.heading 主なクラゲ達

  .jellyfish-list__slider 
    +jellyfish-list-slider([
      {
        imgSrc: `${IMG_PATH}png/jellyfish-1.png`,
        imgSrcset: `${IMG_PATH}png/jellyfish-1@2x.png 2x`,
        name: "なんとかクラゲ",
        desc: "多分、皆がよく見るクラゲ。以外に可愛い。"
      },
      {
        imgSrc: `${IMG_PATH}png/jellyfish-2.png`,
        imgSrcset: `${IMG_PATH}png/jellyfish-2@2x.png 2x`,
        name: "ほにゃららクラゲ",
        desc: "活きがいいクラゲ。猛スピードで水槽にぶつかる。可愛い。"
      },
      {
        imgSrc: `${IMG_PATH}png/jellyfish-3.png`,
        imgSrcset: `${IMG_PATH}png/jellyfish-3@2x.png 2x`,
        name: "ほにゃほにゃクラゲ",
        desc: "細長い触手が美しいクラゲ。絡まらないのが不思議。"
      },
      {
        imgSrc: `${IMG_PATH}png/jellyfish-4.png`,
        imgSrcset: `${IMG_PATH}png/jellyfish-4@2x.png 2x`,
        name: "ほげほげクラゲ",
        desc: "異世界から来たような見た目のクラゲ。光るよ。"
      },
      {
        imgSrc: `${IMG_PATH}png/jellyfish-5.png`,
        imgSrcset: `${IMG_PATH}png/jellyfish-5@2x.png 2x`,
        name: "ふがふがクラゲ",
        desc: "見るからにやばそうなクラゲ。でも泳ぎは可愛い。"
      },
    ])